body{
    background-color: goldenrod;
    font-family:Arial, Helvetica, sans-serif;
}
.meal-search-box{
    margin-top: 50px;
    margin-left: 350px;
    padding: 40px;
    width: 50%;
    text-align: center;
}
#food-container img{
    width: 200px;
}
#food-container h3{
    font-size: 20px;
}